//공통의 믹스인 사용시 사용합니다.

// 아이콘 설정 mixin

@mixin icon($url, $width, $height) {
  content: '';
  display: inline-block;
  width: $width;
  height: $height;
  background: url($url);
  vertical-align: text-bottom;
}

// 말줄임 mixin

$default-line-clamp: 1;
@mixin ellipsis-text($line-clamp: $default-line-clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
