.portfolio {
  max-width: 1290px;
  margin: 50px auto 0;
}

.profileSection {
  max-width: 960px;
  margin: 0 auto;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profileLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: 700;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid $gray200;
  }
}

.edit {
  padding: 12px 60px;
  border-radius: 8px;
  border: 1px solid $blue100;
  font-size: 15px;
  &:hover {
    background-color: $blue100;
  }
}

.infoBox {
  margin-top: 40px;
  width: 100%;
  border: 1px solid $gray100;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 30px;
  font-weight: 700;
}

.titleText {
  font-size: 15px;
  color: $gray300;
}

.listSection {
  width: 100%;
  max-width: 960px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
